* {
  margin: 0;
}

:root {
  --base-color: #4C5CAE;
  --accent-color: #FE6426;
  --base-muted-color: #DADEEF;
  --accent-muted-color: #FEC1A8;

  --border-color: #B5C0C0;
  --border-radius: 0.3rem;

  --button-base-color: #F1F3FA;
  --button-hover-color: #E6EAF2;
  --button-active-color: #D8DDE4;
  --button-border-radius: 0.15rem;
}

html, body {
  height: 100%;
}

main {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

elm-canvas {
  display: block;
}

button {
  background-color: var(--button-base-color);
  border: 1px solid var(--border-color);
  border-radius: var(--button-border-radius);
}

button:hover {
  background-color: var(--button-hover-color);
}

button:active {
  background-color: var(--button-active-color);
}

button.option[aria-selected="true"] {
    background-color: var(--button-active-color);
}

.selector {
  padding: 4px 0;
  display: flex;
  gap: 4px;
  .option {
    padding: 2px 4px;
  }
}

.tab-container {
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  .tab-nav {
    background-color: var(--base-muted-color);
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    border-bottom: 1px solid var(--border-color);
    .tabs {
      display: flex;
      margin-top: -1px;
      margin-left: -1px;
      margin-bottom: -1px;
      border-top-left-radius: var(--border-radius);
      border-top-right-radius: var(--border-radius);
      .tab {
        display: block;
        padding: 0.5em;
        background-color: var(--base-muted-color);
        border: 1px solid #0000;
        border-bottom: 1px solid var(--border-color);
        border-top-left-radius: var(--border-radius);
        border-top-right-radius: var(--border-radius);
      }
      .tab[aria-selected="true"]{
        border-color: var(--border-color);
        border-bottom: 1px solid #FFF;
        background-color: #FFF;
      }
    }
  }
  .tab-contents {
    padding: 10px 20px;
  }
}
